.user-dashboard {
    width: 69rem;
    min-height: 100vh;
    margin-bottom: 3rem;
    /* display: flex;
    flex-direction: column; */
  }
  .dash-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3rem 5rem;
    /* border: 1px solid red; */
  }
  .overview {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #03435f;
  }
  .logic-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem;
  }
  
  .logic-item {
    width: 12rem;
    height: 160px;
    padding: 15px;
    background: #ffffff;
  }
  .logic-item p {
    /* width: 85px;
    height: 19px;
    left: 16px;
    top: 16px; */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    color: #21334f;
  }
  .logic-item-text {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 49px;
    width: 191px;
    height: 58px;
    left: 16px;
    top: 51px;
  }
  .item-score {
    width: 61px;
    height: 58px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #21334f;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .percent-change {
    display: flex;
    flex-direction: row;
    width: 57px;
    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #21334f;
    /* Inside auto layout */
    /* flex: none;f */
  }
  .percent-change span {
    left: 16.65%;
    right: 16.64%;
    top: 8.35%;
    bottom: 8.33%;
    color: #8ac926;
    /* Color red to show negative */
    /* #F94144; */
  }
  .percent-change .down-arrow {
    color: #f94144;
  }
  .sheet-container {
    display: flex;
    flex-direction: row;
    width: 953px;
    height: 368px;
    margin: 5rem auto 0;
    /* margin-top: 20rem; */
    /* margin-left: 8.8rem; */
    /* box-sizing: border-box; */
    padding: 2rem;
    justify-content: space-between;
    background: #ffffff;
  }
  .sheet-title {
    width: 164px;
    height: 38px;
    left: 38px;
    top: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #03435f;
  }
  .sheet-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .chart-colors {
    display: flex;
    flex-direction: row;
    width: 104px;
    height: 14px;
    left: 713px;
    top: 41px;
    justify-content: space-between;
    align-items: right;
    margin-left: 29rem;
  }
  .chart-yellow {
      width: 14px;
      height: 14px;
      background: #F9C74F;
  }
  .chart-red{
      width: 14px;
      height: 14px;
      background: #F94144;
  }
  .chart-green {
      width: 14px;
      height: 14px;
      background: #B8D344;
  }
  .chart-blue {
      width: 14px;
      height: 14px;
      background: #14A800;
  }
  .chart-board {
    width: 637px;
    height: 345px;
    left: 244px;
    top: 0px;
  }